.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 16px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-info img {
  height: 100px;
}

.card-info h3 {
  font-size: 16px;
}

.card-info p {
  font-size: 14px;
}
